.winner {
  color:green;
}


body {
  background-image: url("https://bloximages.newyork1.vip.townnews.com/kmaland.com/content/tncms/assets/v3/editorial/b/80/b80a95e4-fdf7-11e9-8308-37ae3fa0772f/5dbe605fc2a6d.image.jpg?resize=750%2C422");
  background-size: cover; 
  font-size: 3rem;
  text-align: center;
}

p {
  color: blue;
}
